<div data-role="page">
  <div data-role="header" data-position="inline">
    <h1>画像処理中</h1>
  </div>
  <div data-role="content">
    <p>
      画像処理中です。<br />
      しばらくお待ちください。
    </p>
  </div>
</div>